@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lato&display=swap');

.img-fluid {
    min-width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

body {
    background: url('../media/cat.jpg');
}

.centered-main {
    position: absolute;
    top: 28%;
    left: 73.5%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}