@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');

.img-fluid {
    min-width: 100%;
    height: auto;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 650px;
    color: rgb(255, 136, 0);
    padding-left: 20px;
    padding-right: 100px;
    margin-bottom: -400px;
    margin-left: 950px;
    font-size: 110%;
}

h3 {
    color: rgb(255, 136, 0);
    font-size: 300%;
    font-family: "Fredoka+One", sans-serif;
}