* {
    padding: 0;
    margin: 0;
}

#hero {
    width: 100%;
    height: calc(100vh - 60px);
    background: url("../img/cat.jpg") top center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#navbarNav > ul > li > a,
.navbar-brand {
    color: rgb(59,87,214) !important;
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.4rem;
}