<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Life Paws, a place to relax and let your mind wonder with the help of animals">
    <meta name="keywords"
        content="life, paws, mental, health, mindfulness, animals, relax, calm">
    <meta name="author" content="Team-12">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/404.css" type="text/css" />
    <!--Add FontAwesome here-->
    <title>HTTP 404 Error</title>
</head>

<body>
    <!-- Main Section -->
    <main>
        <div id="notfound">
            <div class="notfound">
                <div>
                    <img id="Cat" src="assets/images/catNotFound.jpg" alt="Cat">
                </div>
                <div class="notfound-404">
                    <h1>Oops!</h1>
                </div>
                <h2>404 - Page not found</h2>
                <p>The page you are looking for might have been removed, had it's name changed or is temporarily unavailable.</p>
                <a href="index.html">Click here to return to the landing page</a>
            </div>
        </div>
    </main>
    <!-- /Main Section -->

</body>

</html>
