
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Life Paws, a place to relax and let your mind wonder with the help of animals">
    <meta name="keywords"
        content="life, paws, mental, health, mindfulness, animals, relax, calm">
    <meta name="author" content="Team-12">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="" />
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/500.css" type="text/css" />
    <!--Add FontAwesome here-->
    <title>HTTP 500 Error</title>
</head>

<body>
    <!-- Main Section -->
    <main>
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
        <div id="notfound">
            <div class="notfound">
                <div>
                    <img id="Bird" src="assets/images/500Error.png" alt="Bird">
                </div>
                <div class="notfound-500">
                    <h1>Oops!</h1>
                </div>
                <h2>503 - Service Unavailable</h2>
                <p>Something has gone wrong at our end and we're working on it.<br>
                    Please come back in a little while...</p>
                <a href="index.html">Click here to return to the landing page</a>
            </div>
        </div> 
        
    </main>
    <!-- /Main Section -->

</body>

</html>
