{% extends "base.html" %}

{% block header %}
    
{% endblock %}
           
{% block content %}

  <body>
    <h2>These are the pets offered by this provider:</h2>
    {% for pet in pets %}
    <div class="card" style="width: 18rem;">
        <img src="{{ pet.image }}" class="card-img-top" alt="Picture of the pet">
        <div class="card-body">
            <h5 class="card-title">{{ pet.name }}</h5>
            <div class="d-flex flex-row">
                <div class="me-1">
                    <a href="{{ url_for('pet_profile', pet_name=pet.name) }}" class="btn btn-primary">Details</a>
                </div>
                <div class="mx-1">
                    <a href="{{ url_for('update_pet', pet_id=pet._id, provider_name=pet.provider) }}" class="btn btn-primary">Update</a>
                </div>
                <div class="mx-1">
                    <form method="POST" action="{{ url_for('delete_pet', pet_id=pet._id, provider_name=pet.provider) }}">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </body>

{% endblock %}