
{%  extends 'base.html' %}

{% block title %}
 | Service Providers
{% endblock %}

{% block content %}
<!-- Section -->
<section class="providers position-relative jumbotron jumbotron-fluid bg-white py-3 mb-0">
    <div class="container providers-inner">
        <div class="row no-gutters align-items-center">
            <h1 class="heading text-center mt-3 mb-4">Our Service Providers</h1>
            {% for provider in providers %}
               {% if provider.provider == true %}
                   <div class="col mb-5">
                       <div class="card h-100 shadow-sm"> <img src="{{ url_for('static', filename='img/shelter.jpg') }}" class="card-img-top" alt="...">
                           <div class="card-body">
                               <div class="clearfix mb-3 text-center">{{ provider.provider_name }}</div>
                               <h5 class="card-title text-center">{{ provider.business_email }}</h5>
                               <div class="text-center my-4"> 
                                  <a href="{{ url_for('provider_details', provider_name=provider.provider_name) }}" class="btn btn-warning">Details</a> 
                               </div>
                           </div>
                       </div>
                   </div>
                {% endif %}
             {% endfor %}
         </div>
    </div>
    
</section>
{% endblock %}
<!--/ End section -->
